# Environment
.env
venv/
.venv/

# Python
*.pyc
__pycache__/
*.egg-info/
dist/
build/

# dbt
.dbt/
target/
dbt_packages/
logs/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Notebooks
.ipynb_checkpoints/

# Logs
*.log
